# Godot 4+ specific ignores
.godot/
/.vs/*
/.vs/BATTLETATERZ/v17/*
/.vs/BATTLETATERZ/*
/Properties/launchSettings.json
/_Export/data_BattleTaterz_windows_x86_64
/_Export/BattleTaterz.exe
/_Export/BattleTaterz.pck
